আমরা মেশিন লার্নিং এর জন্য পাইথন শিখব । তবে মেশিন লার্নিং সম্পর্কে এখানে কোন আলোচনা হবে না।এখানে আমরা পাইথন নিয়ে আলোচনা করব।

### পাইথন কি এবং কেন আমরা পাইথন কেই প্রোগ্রামিং হিসেবে চয়েজ করলাম সেটা নিয়ে আলোচনা করা যাক।

পাইথন হল একটা হাই লেভেল অবজেক্ট অরিয়েন্টেড প্রোগ্রামিং ল্যাংগুয়েজ । আমি যখন  পাইথন প্রোগ্রামিং শুরু করতেছিলাম তখন হাই লেভেল এটা শুনে অনেকটা এর থেকে  দূরে সরে যেতে চাইছিলাম ।প্রোগ্রামিং এ যত হাই লেভে্ল প্রোগ্রামিং ল্যাঙ্গুয়েজ তত মানুষের জন্য বুঝা সহজ । মানুষের ল্যাঙ্গুয়েজ এর যত কা্ছাকাছি প্রোগ্রামিং ল্যাঙ্গুয়েজ  সেটা তত হাই লেভেল এর প্রোগ্রামিং ল্যাঙ্গুয়েজ ।সুতরাং বলাই যায় পাইথন একটা সহজ প্রোগ্রামিং ল্যাঙ্গুয়েজ ।আসলে পাইথন অন্য প্রোগ্রামিং এর তুলনায় অনেক অনেক  সহজ একটা প্রোগ্রামিং ল্যাঙ্গুয়েজ।  অন্তত সি এর মত এত সেমিকোলন আর সেকেন্ড ব্্যাকেট এর ঝামে্লা এর মধ্যে নাই। 

## পাইথন কি??
পাইথন হল একটা প্রোগ্রামিং ল্যাঙ্গুয়েজ।  ১৯৮০ সালের দিকে প্রথম   Guido van Rossum পাইথন নামক  একটি প্রোগ্রামিং ল্যাঙ্গুয়েজ তৈরি করেন ।যার নামকরন মূলত “Monty Python's Flying Circus" নামক একটি কমেডি শো  থেকে করা হয়েছে। যেটি মূলত সত্তর এর দশকে বিবিসি তে দেখানো হত।  Guido van Rossum মূলত একজন ডাচ বিজ্ঞানী। ১৯৮৯ সালের ডিসেম্বর মাসে পাইথন  প্রোগ্রামিং হিসেবে শুরু হয় বিশ্বব্যাপি  । আমরা মূলত পাইথন ৩ কেই ব্যাবহার করব।  জুপিটর নোটবুক আমরা যখন পাইথন প্রোগ্রাম লিখতে যাব তখন পাইথন ৩ কেই সিলেক্ট করব পাইথন ২ কে নয়। 


## কেন পাইথন??


### ১। এটা খুব সহজ একটা প্রোগ্রামি্ং ল্যাঙ্গুয়েজ 
 বলতে গেলে সি, জাভা , আর, সি++ এর তুলনায় পাইথন অনেকগুন সহজ

### ২। এটা ফ্রি তে ব্যাবহার করা যাবে( ওপেন সোর্স সফটওয়্যার)
পাইথন যে কারো জন্য ফ্রি। এবং এটা চাইলেই কপি করতেই পারবেন

### ৩। এটা পোর্টেবল । 

এটা Linux, MS-DOS, MS-Windows (95, 98,
NT), Macintosh, Amiga, Be-OS, OS/2, VMS, QNX, আরো অনেক গুলা অপারেটিং সিষ্টেম এ রান করা হয়েছে।
### ৪।এটা খুব পাওয়ারফুল 
        যদি ফিচার এর দিক চিন্তা করা হয় তাহলে পাইথন হল অনেকটা হাইব্রিড।
### ৫।  হিউজ লাইব্রেরিঃ
   মেশিন লার্নিং, ডীপ লার্নিং, ডেটা সাইন্স , নিউমেরিক প্রোগ্রামিং , ন্যাচালারল ল্যাঙ্গুয়েজ প্রসেসিং এর জন্য পাইথনের হিউজ লাইব্রেরি বিল্ড ইন করা আছে, যেটা পাইথনের পপুলারিটি অনেক গুন বাড়িয়ে দিয়েছে। 
 মেশিন লার্নিং এর জন্য    scikit-learn নিউমেরিক প্রোগ্রামিং এর জন্য  Numpy , ডেটা সাইন্স এর জন্য  pandas,  ডীপ লার্নিং এর জন্য Tensorflow,kearsসাইন্টিফিক ক্যালকুলেশন এর জন্য scipy ডেটা ভিজুয়েলাইজেশন এর জন্যmaplotolib,seaborn, 
 অবশ্যই সব গুলা লাইব্রেরি মেশিন লার্নিং , ডীপ লার্নিং এ ব্যাবহার হয় । মেশিন লার্নিং, ডীপ লার্নিং, NLP,ডেটা সাইন্স  এগুলা একটার সাথে একটা জড়িত।
         
###  ৬। ইমেজ প্রসেসিং ঃ
  ইমেজ ও ভিডিও প্রসেসিং এর জন্য পাইথনে অনেক গু্লা লাইব্রেরি রয়েছে 


আরো অনেক গুলা কারনে পাইথন কেই বেষ্ট চয়েজ হিসেবে  রাখা যায় রাখা । তবে আমার কাছে এই কারণ গুলাই যথেষ্ট। স্পেশালি ১ এবং ৫ নাম্বার কারন। 
যেহেতু আমরা মেশিন লার্নিং এর জন্যই পাইথন কে শিখতেছি,  সে হিসেবে পাইথন সবার উপরে ।

# এনভাইরনমেন্ট

পাইথন কি এবং কেন ব্যাবহার করব সেটা তো জানলাম । এখন তো আমাদের পাইথন কোড কে রান করার জন্য একটা জায়গা দরকার, একটা এনভাইরনমেন্ট এর দরকার ।আমরা মূলত জুপিটর নোটবুক দিয়ে আমাদের কোড রান করাব।  পাইথন কে চালানোর জন্য Anaconda থেকে  Jupyter Notebook  কেই ব্যাবহার করব।Jupyter Notebook এ প্রোগ্রামকে লাইন বাই লাইন রান করা যাবে ।যেটা আমাদের পরবর্তী যে কোন অ্যালগরিদম স্পেশালি মেশিন লার্নিং , ডীপ লার্নিং করার সময় খুব ই হেল্পফুল হবে। আমি চাইলে যে কোন টেক্সট ও লিখতে পারব এই নোটবুকে । মেশিন  লার্নিং এর জন্য পাইথন  এটা পুরোটা  জুপিটার নোটবুক এ লিখা।   এছাড়া আরো  কিছু স্পেশাল  ফরমেট আছে যা এই নোটবুককে আরো বেশি আকর্ষনীয় করে তুলেছে ।যা হোক আমাদের এখনকার কাজ হল এই নোটবুক সম্পর্কে জানা।

আমাদের প্রথম কাজ হল গুগল থেকে Anaconda ডাউনলোড করা এবং ইনষ্টল করা। গুগলে Anaconda সার্চ দিলেই Anaconda র পেইজ  চলে আসবে । ইনষ্টল করার পর কম্পিউটার এর একদম বামপাশে নিচে start bar  এ  ক্লিক করে anaconda prompt  লিখে সার্চ দিব । তারপর anaconda prompt  এ ক্লিক করলেই দেখা যাবে একটা ব্ল্যাক পেইজ আসবে। একটু অপেক্ষা করলেই ওই পেইজ এ  (base) C:\Users\jabed> এ ধরনের একটা লিখা আসবে jabed এর জায়গা আপনি যে নাম দিয়েছন সেটা আসবে , তারপর লিখতে হবে  pip install jupyter notebook অথবা  conda install jupyter notebook লিখে Enter দিলে অটোমেটিক ইনষ্টল/ডাওনলোড হবে। অবশ্যয় ইন্টারনেট চালু থাকতে হবে।

## Google> Download Anaconda>Install Anaconda >Go to start bar> search Anaconda prompt> Enter >wait few second(10-20)> see a black window> wait few second > pip install jupyter notebook(write)>automatic download/install jupyter notebook

জুপিটার নোটবুক ডাউনলোড হওয়ার পর আবার  start bar এ যান, এবার jupyter notebook লিখে সার্চ দেন । জুপিটার নোটবুক এ রাইট ক্লিক করে তারপর  pin to taskbar  এ ক্লিক করেন। তাহলে কম্পিউটার এর  নিচে জুপিটার নোটবুক আইকন চলে আসবে। এর পর থেকে ওই আইকন এ ক্লিক করলেই জুপিটার নোটবুক ওপেন হয়ে যাবে।

জুপিটার নোটবুক ওপেন হওয়ার সময় হয়তো একটা ব্রাউসার এর পারমিশন চাইতে পারে। নিজের পছন্দের ব্রাউসার সিলেক্ট করলেই হবে। ওপেন হলে একটা হোম পেজ দেখাবে। হোমপেজ এর একেবারে ডান পাশে উপরে New এ ক্লিক করলেই python 3  দেখাবে।python 3 তে ক্লিক করলেই নতুন একটা উইন্ডো আসবে ব্রাউসার এ(২য় পিকচার এর মত) ।এই উইন্ডোতেই মূল্ত আমরা প্রোগ্রামকে রান করাব।   
এবার এই নোটবুকের কিছু নির্দেশনা দিই>
 ১।  File এ গিয়ে প্রথমে প্রোগ্রাম বা ফাইলটার নাম save as থেকে  সেভ  করতে হবে । অথবা ডিফল্ট একটা নাম হয়ে যাবে পরে ফাইল খুজে পেতে কষ্ট হবে। 
 ২।যেখানে প্রোগামটা রান লিখবেন এদেরকে সেল বলা হয় । উপরে + অপশন এ ক্লিক করলেই যত ইচ্ছে তত গুলা সেল তৈরি হবে । 
 ৩। যদি কখনো সেল গুলাকে উপরে বা নিচে নামানো লাগে Run এর ঠিক বামপাশে   এরো চিহ্ন দিয়ে উপরে বা নিচে নামানো যাবে। 
 ৪ রান এ ক্লিক করলেই প্রোগ্রাম রান হবে । তাছাড়াও শর্টকার্ট হিসেবে shift +Enter ক্লিক করলেও প্রোগ্রাম রান হবে। একটি প্রোগ্রাম রান করলে অটোমেটিন নতুন   একটা সেল তৈরি হবে। 
 ৫। Run এর ঠিক  ৩ ঘর ডানে Code লিখা থাকবে । সেখানে চাইলে যে কোন টেক্সট লিখা যাবে যা প্রোগ্রাম হিসেবে কাউন্ট হবে না। এর জন্য Code এ ক্লিক করলেই Markdown সহ আরো কয়েকটা অপশন আসবে । Markdown এ ক্লিক করলেই সেটা একটা টেক্সট হিসেবে নিবে। এর পর রান করলেই টেক্স এর কোন পরিবর্তন হবে না। অথবা esc + m দিলেই অটোমেটিক Markdown হয়ে যাবে। এর পর shift +Enter দিলেই টেক্সট হয়ে নতুন একতা সেল তৈরি হবে। 
 ৬। টেক্সট কে চাইলে বড় বা ছোট করা যাবে। এর জন্আগের মত প্রথমে Markdown এ নিতে হবে। এর পর esc + 1,2,3,4,5,6  এরকম যে কোন একটা দিলেই বোল্ড হবে। 1 হচ্ছে সবচেয়ে বড় বা হেডিং হবে। এর পর 2 আরো একটু ছোট তারপআরো  ছোট এরকম।
 
 এইটুক জানলে এখন হবে। বাকি গুলা নিজে চালাতে চালতে জানা যাবে।
 
 # Heading 1(Esc+1)
 ## Heading 2(Esc+2)
 ### Heading 3(Esc+3)

# ডেটার প্রকারভেদঃ

একটা প্রশ্ন  আসতেই পারে ডেটা  জিনিসটা কি??? খায় নাকি মাথায় দেয়?পরিসংখান বলে একটা প্রোগ্রামিং বলে  আরেকটা  ডেটা সাইন্স বলে  আরেকটা   যদিও মূল কথা এক। , আর আমি  বলি সবকিছুই ডাটা,প্রতি  মুহূর্তে দুনিয়াতে যা ঘটছে সবই ডাটা বা তথ্য। একটু ফরমাল ভাবে বলতে গেলে ডাটা হচ্ছে কালেকশন অফ ফ্যাক্টস যেমন নাম্বার, শব্দ, পরিমাণ, পর্যবেক্ষণ এমনকি কোন কিছুর বর্ণনা। এর থেকে বেশি জানার এই মূহুর্তে দরকার নাই ।

আমরা মূলত পাইথনের ডেটার প্রকার নিয়ে আলোচনা করব।

 ডেটা কে আমরা ৩ ভাগে ভাগ করতে পারি  ।একপ্রকার ডেটা হল নাম্বার আর এক প্রকার ডেটা হল ষ্ট্রিংআর এক প্রকার ডেটা হল বুলিয়ান । যদিও এগুলা ছাড়া ও আরো অনেক ধরনের ডেটা আছে তবে আমরা এখন শুধু এই দুই্ প্রকার ডেটা নিয়ে আলোচনা করব ।   ধিরে ধিরে বাকি গুলা সম্পর্কে জানব। যদিও বাকি ডেটা গুলা এই ডেটা গুলার সমষ্টি । স্পেশালি নাম্বার এবং ষ্ট্রিং।

## (Numeric ) নাম্বারের ভিত্তিতে ডেটা ২ প্রকারঃ

#### ১।ইন্টিজার(integer) 

#### ২।ফ্লোট(float) 


#### ইন্টিজারঃ
    সকল পূর্ণ সংখ্যা হল ইন্টিজার (1,2,3,4,5) 

#### ফ্লোটঃ 
     দশমিকযুক্ত সংখা বা ভগ্নাংশই  হল ফ্লোট (1.2,4.5,7.8)
     
     

আমরা এখানে কমপ্লেক্স নামক সংখ্যাকে  নাম্বারের মধ্যে ধরি নাই । যেহেতু এটা একদম বেসিক লেবেলের জন্য।

## ষ্ট্রিং(String )

ষ্ট্রিং মূলত একটা ডেটা টাইপ। কোলন এর মাধ্যমে একে প্রকাশ করা হয়। পাইথনে সিঙ্গেল বা ডাবল কোলন ২ টাকে একই মনে করে।   ষ্ট্রিং হল ইমমিউটেবল ।ইমমিউটিবল মানে যাকে এডিট করতে পারবেননা । আর মিউটেবল মানে একে চাইলে এডিট করতে পারব। মিউটেবল আর ইমমিউটেবল  পরে কাজে দিবে। একটু ঘোলাটে মনে হতে পারে। যখন আমরা ষ্ট্রিং নিয়ে কথা বলব তখন এই ব্যাপারটা আরো ক্লিয়ার হবে। ষ্ট্রিং  কে একটা বস্তা  বা একটা জাদুর বাক্স কল্পনা করতে পারেন । ' '  বা " " হল সেই বস্তা বা জাদুর বাক্স যার ভিতর আমি যা রাখি না কেন পাইথন সেটা কে একটা জাদুর বাক্স ই মনে করবে আর জাদুর বাক্সটার টাইপ হল ষ্ট্রিং। জাদুর এ বাক্স কিভাবে খুলবেন সেটা নিয়ে পরে আস্তে আস্তে জানতে পারবেন। 

strng='It is a string,everything in colon is called string'

a=' eta ekta string'

Name='My name is Jabed'
 

ষ্ট্রিং কে আমরা টেক্সট ধরে নিতে পারি। তবে শুধু টেক্সট কে  পাইথন ষ্ট্রিং হিসেবে নিবে না টেক্সট  ষ্ট্রিং এর একটা অংশ। নাম্বার ও ষ্ট্রিং হতে পারে  ।

### (Boolean)বুলিয়ানঃ

বুলিয়ান ডাটা বলতে লজিকেল ডাটা, সত্য অথবা মিথ্যা(True or False)

1. True(1 )

2. False(0)

ধরেন, ১ আর ১ কে যোগ করলে কত হবে??অবশ্যয় ২। সিউর তো??  এবার আপনি  পাইথন কে বললেন  ১+১=১ তাহলে পাইথন আপনাকে কি বলবে??  
False আর যদি আপনি ১+১=২ লিখতেব তাহলে পাইথন কি বলত?? অবশ্যয় True। উপরে  1 True হল এর ইন্টিজার ফরমেট আর  0 হল False এর ইন্টিজার ফরমেট ।

In [5]:
print(1+1==2)

True

In [6]:
print(1+1==1)

False

In [7]:
print(int(True))

1

In [8]:
print(int(False))

0

প্রিন্ট নিয়ে চিন্তা করিয়েন না। এটা নিয়েও পরে বলা হবে।  int(True)  আর int(False) ইন্টিজার ফরমেট কেই বুঝানো হয়েছে ।অর্থাৎ True এর ইন্টিজার ফরমেট হল 1 আর False ইন্টিজার ফরমেট  হল 0 ।

আমাদের কাজ মূলত নাম্বার ও ষ্ট্রিং নিয়ে ।

আমার ডেটার টাইপ কি সেটা জানতে হলে type() নামক একটা ফাংশন ব্যাবহার করব। যেখানে আমরা () প্যারান্থেসিস এর ভিতর ডেটা ইনপুট দিলে আমাকে ডেটার প্রকার আউটপুট হিসেবে দেখাবে। ব্যাপারটা আরো  ক্লিয়ার হওয়ার জন্য আমরা উপরে যে ডেটা গুলা লিখছিলাম সেগুলা দিয়ে পরীক্ষা করে দেখি।

In [1]:
type(1)

int

In [2]:
type(1.2)

float

In [3]:
type('eta ekta string')

str

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [1]:
print('Hello world')

Hello world

এই ফাকে একটু বলে নিইআপনি যদি হ্যালো ওয়ার্ল্ড এটা সি তে বা জাভায় প্রিন্ট করতে চাইতেন তাহলে ৫-৬ লাইন এর কোড করাই লাগত যেটা পাইথন এক লাইনেই করে দেখাচ্ছে।

In [2]:
type('hello world')

str

আশা করি বুঝছেন। এবার নিজে নিজে মান পরিবর্তন করে দেখেন তাহলে আরো ভাল বুঝা যাবে।

# কাজঃ

(1+1.5) এই ডেটার টাইপ কি???? একটু চিন্তা করেন, না পারলেও সমস্যা নাই সামনে এ নিয়ে বিস্তারিত জানা হবে।

## নাম্বারের অপারেশন

আচ্ছা একটা কথা বলেই রাখি, আমরা নাম্বার নিয়ে কথা বলার সময় উপরে একটা জগত কে বাদ ই দিয়ে দিছিলাম । যেহেতু আমরা প্রোগ্রামে কমপ্লেক্সিটি চাই না তাই আমরা কমপ্লেক্স নাম্বার এর জগত টাকে বাদ দিয়ে দিলাম।সুতরাং আমরা এই নাম্বারের অপারেশনে  ২ টা অংশ নিয়ে কথা বলব, একটা হল ইন্টিজার আরেকটা হল ফ্লোট।একটু সেট নিয়ে কথা বলা যাক, ধরেন ফ্লোট একটা সেট ,ভ্যান ডায়াগ্রাম কল্পনা করলে  এটা একটা ৃত্তই হবে যদি ইন্টিজার কে  আরেকটা  সেট কল্পনা করি তাহলে এটাও আরেকটা ৃত্ত হবে। যদি উপসেট এর ধারনা মাথায় থাকে তাহলে কে কার উপসেট  হবে বলে মনে হচ্ছে।??? কোন ৃত্ত টা বড় হবে?? অবশ্যই ফ্লোটের ৃত্ত টা , অর্থাৎ ফ্লোট এর জগত টা বড়। ঘুরায়ে  বললে ইন্টিজার হল ফ্লোট এর একটা উপসেট। এই ব্যাপারটা মাথায় রাখা লাগবে। পরে কাজে লাগবে

পাইথনকে আমরা ক্যালকুলেটর হিসেবে ব্যাবহার করতে পারি। যোগ,বিয়গ,গুণ ,ভাগ সব করা যাবে, তবে মাথায় রাখতে হবে ছোট বেলার সেই 'BODMAS'এর কথা.

In [12]:
(1+2)

3

In [6]:
3-2

1

In [7]:
2*3

6

In [8]:
3/2

1.5

In [9]:
10/2

5.0

In [10]:
10/2

5.0

একটা ব্যাপার হয়তো খেয়াল করছেন, ভাগফল একটা ইন্টিজার হলেও দেখাচ্ছে ফ্লোট ফরমেট এ।  অর্থাৎ  পাইথন ভাগফলকে সবসময় ফ্লোট ফরমেটেই দেখাবে যদি সেটা ইন্টিজার ও হয়

In [4]:
(10+4*3-5*3)/3+2-1

3.333333333333334

উপরের অপারেশনটা একটু  নিজে করেই দেখুন, তাহলে ব্যাপারটা আরো পরিস্কার হবে।



যদি দুইটা সংখ্যাকে গুণ করতে চাই তাহলে * চিহ্ন দিয়ে সংখ্যা দুইটাকে গুণ করা যাবে, কিন্তু যদি পাওয়ার করতে চাই ?? অর্থাৎ 10^3 ,2^4 এরকম পাওয়ারের জন্য ** দিতে হবে। একটা উদাহরণ দিলে ব্যাপারটা আরো ভাল বুঝা যাবে।

In [5]:
# we use ** for power ,a^b (5^2)
5**2

25

In [6]:
5**3

125

In [7]:
10**3

1000

আমরা ইতোমধ্যে ভাগ করা দেখেছি, কিন্তু যদি এটা জানতে চাওয়া হয় যে দুইটা সংখ্যা কে ভাগ করলে ভাগফল কত হবে  কিন্তু ভাগশেষ চাই না তাহলে কি করব?? // এই চিহ্ন,(a//b) এর মানে a কে দ্বারা b ভাগ করলে ভাগফল কত সেটা দেখাবে । কোন ভাগশেষ দেখাবে না। এটার আরেকটা নাম হল ইন্টিজার  ডিভিশন বা ফ্লোর ডিভিশন। ফ্লোর নিয়ে আমরা একটু পরেই বলব তবে ইন্টিজার ডিভিশন টা বুঝার কথা , আমরা জানি ভাগ করলে সবসময় কিন্তু একটা ফ্লোট ভ্যালুই দেখায়  কিন্তু '//' ইন্টিজার ভ্যালুই দেখাবে, এইজন্য একে ইন্টিজার ডিভিশন বলা হয়।

In [8]:
# // দিয়ে পাইথন ভাগফল  দেখাবে, কিন্তু ভাগশেষ দেখাবে না 
9//4

2

In [9]:

10//5

2

এবার আমরা যদি দুইটা সংখ্যার ভাগফল না ,ভাগশেষ  জানতে চাই তাহলে কি করব???  % এ ই চিহ্ন ব্যাবহার করে  । (a%b)মূলত a কে b দ্বারা ভাগ করলে কোন ভাগশেষ  থাকবে কিনা সেটা দেখাবে.

In [10]:
# % মূলত ভাগশেষ দেখাবে
9%2

1

In [11]:
10%2

0

উপরে আমরা ফ্লোর নিয়ে কথা বলব বলছিলাম। তার আগে আমাদের আরো এটা ব্যাপার জানার দরকার । সিলিং, এই কথার সাথে বেশ পরিচিত। সিলিং ফ্যান আমরা মাথার উ্পরে যে ফ্যান লাগায় বা বাসায় একেবারে উপরের ফ্যানকে আমরা সিলিং ফ্যান হিসেবে চিনি আর বাসাআর নিচের অংশ টা কে ফ্লোর হিসেবে জানি। ceil মূলত ছাদের  নিচের পিঠ কে বুঝায় আর floor মানে তো মেঝে।  এটা এবার এখানে খুব কাজে দিবে। একটা সংখ্যা ধরি,১.৫এই সংখ্যা টাকে ছাদ আর ফ্লোর এর মাঝের অবস্থা কল্পনা করেন। তাহলে ১.৫ এই সংখ্যাটা সিলিং(ceil) মান কত হবে ?? নিশ্চয় ২ ,তাহলে অবশ্যই এর ফ্লোর মান ১ ই হওয়ার কথা। এটা চেক করার আগে আমরা   Module এর সাথে পরিচিত হয়। এক প্রকার লাইব্রেরি। তবে এই লাইব্রেরিতে বই না ফাংশন ষ্টোর করা আছে অনেক।ফাংশন নিয়ে আমরা ফাংশন অধ্যায় এ আলোচনা করব।ফাংশন মূলৎ নির্দিষ্ট কাজ করে ।আমরা প্রথম যে  Module এর সাথে পরিচিত হব সেটার নাম math। পাইথনকে কোন  Module এর ফাংশন ব্যাবহার করতে চাইলে আগে তাকে ইম্পোর্ট করতে হবে import নামক কি ওয়ার্ড দিয়ে । তাহলে math কে ইম্পোর্ট করতে চাইলে আগে অবশ্যই import math এটা ব্যাবহার করতে হবে। তাহলে ধরেন কোন একটা লাইব্রেরির নাম numpy বা pandas তাহলে আমারা তাকে কিভাবে ইম্পোর্ট করব??? এটা আপনার কাজ  

মডিউল তো ইম্পোর্ট করলাম এবার কি করব?? 
এর পরের কাজ হল  আমরা ওই মডিউল এর কোন ফাংশন টা ব্যাবহার করতে চাচ্ছি। তাহলে তো আমাদের  জানা দরকার ওই মডিউলে কোন কোন ফাংশন আছে । সেটা জানার জন্য আগে মডিউল কে ইম্পোর্ট করার পর help(math) এই কমান্ড ব্যাবহার করব। তাহলে পুরা ম্ডিউলের বিস্তারি্ত আপনাকে দেখাবে । আমরা এখানে কয়েটা ফাংশন নিয়ে কথা বলব। floor() , ceil() , pi , sin()  এরপর বাকি  গুলা আপনি নিজেই করে দেখবেন ।   এই ফাংশন গুলা মূলত math মডিউল এর মধ্যে আগে থেকে ষ্টোর করা আছে।

In [34]:

import math

In [35]:
math.floor(2.5)

2

In [36]:
math.ceil(2.5)

3

In [37]:
math.pi

3.141592653589793

In [38]:
math.sin(0)

0.0

একটা জিনিস একটু খেয়াল করলে দেখবেন, যত বার ই কোন ফাংশন ব্যাবহার করতে চাচ্ছি ততবার ই আমাদের math কে ব্যাবহার করতে হয়। আমরা চাইলে  প্রতি বার math না লিখে অন্য কিছুও ব্যাবহার করতে পারি।সেজন্য আমাদের ইম্পোর্ট করার সময় তার নাম কি দিতে চাই সেটা ও বলে দিতে হবে। যেমন , আমরা চাচ্ছি প্রতিবার  math না লিখে শুধু m লিখব তাহলে ,
import math as m  এটা লিখতে হবে, আপনি যা লিখতে চান তা আগেই বলে দেয়া লাগবে।

In [39]:
import math as m
m.ceil(11.2)

12

আপনি যদি এত বার এদের ব্যাবহার করতেই না চান অর্থাৎ   m. বা  math. এদের যদি এতবার ব্যাবহার করতে না চান তাহলে যা যা ফাংশন আপনি ব্যাবহার করতে চান সব আগেই ইম্পোর্ট করে ফেলতে পারেন। সেক্ষেত্রে আপনাকে লিখতে হবে from math import আপনি কোন কোন ফাংশন ব্যাবহার করবেন তাদের নাম

In [40]:
from math import ceil,pi,sin
# এখানে আমরা আগে থেকে ৩ টা ফাংশন কে ইম্পোর্ট করে রাখছি

In [41]:

ceil(13.2)

14

In [42]:
pi

3.141592653589793

In [43]:
sin(0)

0.0

In [44]:

আশা করি ব্যাপার গুলা বুঝতে পারছেন। এবার আপনার যেরকম খুশি লাগে আর কি।

SyntaxError: invalid syntax (<ipython-input-44-4ec6552bb174>, line 1)

# কাজ ঃ

১। (10^5) ,(10^3) কে যোগ , বিয়োগ, গুণ  ও ভাগ করতে হবে  প্রোগ্রামের মাধ্যমে

## ভ্যারিয়েবল

ধরেন, একটা কিচেন রুমের মধ্যে অনেকগুলা বক্স আছে যেখানে এক একটা বক্সে  এক এক ধরনের আইটেম রাখা আছে। কোন বক্সে কি কি রাখা আছে তা বক্সের উপর লিখা আছে। এখন বক্সের নামটা হল ভ্যেরিয়েবল আর বক্সের মধ্যে যা রাখা আছে তা হল ভ্যেলু । প্রোগ্রামিং এ ও আমরা যে ভ্যালু  টা ব্যাবহার করব তার একটা নাম দিব। এই নামটাই হল ভ্যারিয়েবল । ভ্যারিয়েবল মূলত এমন একটা বক্স যেখানে ভ্যালু ষ্টোর থাকবে । ভ্যারিয়েবল  ও ভ্যালুর মধে সম্পর্ক স্থাপনকারি হল = চিনহ । সুতরাং আমরা বলতেই পারি ভ্যারিয়েবল = ভ্যালু । যেমন

a=3

 এখানে   a হল ভ্যারিয়েবল আর 3 হল ভ্যালু । অর্থাৎ a ভ্যারিয়েবলের মধ্যে 3 ভ্যালু ষ্টোর আছে।

In [45]:
length=3
width=4

এখানে,length, width,  হল ভ্যেরিয়েবল

আর 3 , 4  হল ভ্যালু

In [46]:
৩ টি সংখ্যার গড়

SyntaxError: invalid character in identifier (<ipython-input-46-3a9e27d3577b>, line 1)

In [47]:

a=2
b=3
c=4
Sum=a+b+c
avg=Sum/3
print(avg)

3.0

In [48]:
এখানে ভ্যারিয়েবল গুলা কি কি??

SyntaxError: invalid syntax (<ipython-input-48-bde5698ef012>, line 1)

In [49]:
এবার নিজেই কয়েকটা ভ্যারিয়েবল ক্রিয়েট করেন ......

SyntaxError: invalid syntax (<ipython-input-49-b656423e2cdf>, line 1)

## ভ্যারিয়েবল লিখার  নিয়ম ঃ
   
      ১। পাইথনের রিসার্ভ কি ওয়ার্ড বা ফাংশন গুলা ভ্যারিয়েবল এর নাম হতে পারবে না
           যেমনঃ if,else,for,print,False এইগুলা পাইথনের রিসার্ভ ওয়ার্ড। পাইথন ডকুমেন্ট এ গেলে বাকি কি ওয়ার্ড গুলা পেয়ে যাবেন
      
      ২।কোন স্পেস(space) ব্যাবহার করা যাবে না।
      
      
      ৩।অবশ্যয় লেটার বা আন্ডারস্কোর(_) দিয়ে ভ্যারিয়েবল এর নাম শুরু হতে হবে
      
      ৪।ভ্যারিয়েবল এর নাম লেটার , নাম্বার বা আন্ডারস্কোর(_) দিয়ে হতে হবে।
      
      ৫। কোন স্পেশাল কারেক্তার দিয়ে ভ্যারিয়েবল এর নাম দেয়া যাবে না

In [50]:
i_am_a_variable=3  #(valid)

iamavariable=4       #(valid)

i_am_a_variable_1=1    # valid

In [51]:
1_i_am_a_variable=5   #(invalid)

i am a variable =6    # invalid

SyntaxError: invalid token (<ipython-input-51-f2645ac2c362>, line 1)

প্রত্যেক টা ভ্যারিয়েবল এর মধ্যে যে ভ্যালু থাকে ভ্যালু গুলার এক একটার আইডি বা লোকেশন নির্দিষ্ট। ভ্যারিয়েবলের বা ভ্যালুর লোকেশন জানতে  
id()ব্যাবহার  করব।

In [52]:
id(a)

140718794580400

In [53]:
id(length)

140718794580432

In [54]:
id(width)

140718794580464

প্রত্যেকটা ভ্যারিয়েবল এক একটা নির্দিষ্ট লোকেশন বা একটা নির্দিষ্ট বক্সে এ থাকবে। কিচেন এর সেই বক্স এর মত । চিনি যেমন একটা বক্সে থাকবে মরিচ আরেকটা বক্সে থাকবে। এখন ধরেন যে বক্সে আপনি চিনি রাখলেন সেই বক্সের যদি ২ টা নাম হয় তাহলে তো আর চিনির বক্সের কোন পরিবর্তন হবে না অর্থাৎ চিনির বক্সের লোকেশন আগেরটা থাকবে। ঠিক একটা ভ্যালুর যদি দুই টা ভ্যারিয়েবল থাকে তাহলে লোকেশন দুইটা  টা হবে না একটাই টাই হবে।  এর মানে কম্পিউটারে  যে আইডি বো লোকেশন দেখাচ্ছে সেটা কোন ভ্যারিয়েবলের না সেটা ভ্যালুর। ভ্যালুই মূলত রেফারেন্স।

In [55]:
a=7
print('location of a is= ',id(a))

location of a is=  140718794580560

In [56]:
b=a

আচ্ছা এখন b এর লোকেশন কত হবে?? অবশ্যয় a এর লোকেশন যা b এর লো্কেশন ও একই হবে।

In [61]:
print('location of a is= ',id(b))

location of a is=  140718794580560

In [62]:
if id(a)==id(b):
    print('they are same location or same id')
else:
    print('they are not same location')

they are same location or same id

In [63]:
p=6
q=4
r=8

আচ্ছা , এখন অবশ্যয় p,q,r তিনটা ভ্যারিয়েবলের আলাদা আলাদা লোকেশন।যেহেতু তিনটার ভ্যালুই আলাদা।

In [64]:
print('location of p= ',id(p))

print('location of q= ',id(q))

print('location of r= ',id(r))

location of p=  140718794580528
location of q=  140718794580464
location of r=  140718794580592

In [65]:
p=q

এখন কি হবে বলে মনে হচ্ছে???? p ,q দুইজনের লোকেশনের এক হওয়ার কথা।

In [66]:
print('location of p= ',id(p))
print('location of q= ',id(q))
print('location of r= ',id(r))

location of p=  140718794580464
location of q=  140718794580464
location of r=  140718794580592

In [67]:
print(p)
print(q)

4
4

p ,q এর ভ্যালু ও একই

In [68]:
q=r

এখন কি হবে?????তিনটার লোকেশন একই হয়ে যাবে???নাকি শুধু q,r এর লোকেশন একই হয়ে যাবে??আমরা কিন্তু p কে নিয়ে কিছু করি নাই এখন। সুতরাং p এর কোন পরিবর্তন হওয়ার কথা না।

In [69]:
print('location of p= ',id(p))

print('location of q= ',id(q))

print('location of r= ',id(r))

location of p=  140718794580464
location of q=  140718794580592
location of r=  140718794580592

এটা যদি বুঝতে সমস্যা হয় তাহলে , ধরেন,
আপনি , আপনার বন্ধু x ও আপনার আরেক বন্ধু y  তিন জায়গায় অবস্থান করছেন। আপনি চকবাজার,আপনার প্রথম বন্ধু নিউমার্কেট আর দ্বিতীয় বন্ধু আন্দরকিল্লা। এটা কে আমাদের প্রোগ্রামের 
p=6
q=4
r=8
এর মত মনে করি। এখন, আম্পনার প্রথম বন্ধু নিউমার্কেট থেকে আপনার কাছে চলে আসল এর মানে আপনাদের দুইজনের লোকেশন এখন এক। এটা   আমাদের প্রোগ্রামের  p=q এর সাথে তুলনা করতে পারি। এবার আপনার বন্ধু যদি আবার আপনার থেকে চলে গিয়ে আন্দরকিল্লায় চলে যায় তাহলে কি আপনাদের তিনজনের লোকেশন এক হবে??? অবশ্যই না। এটা আমাদের প্রোগ্রামের  q=r এর সাথে তুলনা করতে পারি । আপনাদের তিন জনের লোকেশন একই হত কখন??  যদি আপনার দ্বিতীয় বন্ধু আন্দরকিল্লা থেকে চকবাজার চলে আসত তাহলে । তাহলে আমাদের প্রোগ্রামে ও আমরা চাইলে তিনটা ভ্যারিয়েবল এর লোকেশন এক করতে পারি ।

In [70]:
p=1
q=2
r=3
print(id(p))
print(id(q))
print(id(r))

140718794580368
140718794580400
140718794580432

In [71]:
p=q
print(id(p))
print(id(q))
print(id(r))

140718794580400
140718794580400
140718794580432

In [72]:
r=q
print(id(p))
print(id(q))
print(id(r))

140718794580400
140718794580400
140718794580400

আশা করি ব্যাপার গুলা বুঝছেন। আরো ভাল বুঝতে চাইলে নিজে নিজে আরো কয়েকবার চেষ্টা করে দেখেন। ভ্যারিয়েবল তার লোকেশন ও ভ্যালু দুইটাই  পরিবর্তন করে ফেলে ।ভ্যারিয়েবল এর সজ্ঞায় কিন্তু এটাই বলে, যা পরিবর্তন হয় তাই ভ্যারিয়েবল । সবশেষ পরিবররতন কেই কম্পিউটার কাউন্ট করবে।

 ### এবার নিজে  কোড করেন...
 
 
   ১। ধরেন আপনি ও আপনার ২  বন্ধু মিলে একটা রেষ্টুরেন্টে গেলেন এবং ঠিক্ করলেন দুই জনেই  সমান পরিমান বিল দিবেন , এক কথায় শেয়ার করেই বিল দিবেন । রেষ্টুরেন্টে ৫% ছাড় দেয়া হবে । আপনাদের বিল যদি ২২২ টাকা আসে তাহলে আপনার বিলের পরিমান কত?? 
    
    hints:
    
    total=
    
    percentage=
    
    apni=percentage/3
    
    
    
    ২।একটি পরিবারের ৪ জন সদস্যের জন্য ২২৫ টাকার বাজার করা হল। ২ দিন পর যদি বাজার শেষ হয়ে যায় তাহলে  ঐ পরিবারের প্রত্যেক সদস্যের জন্য দৈনিক কত টাকার বাজার করা হয়েছে।
    
    
    
    
    ৩। একটি ত্রিভূজের ২ টি বাহুর কো্নের মান ৩০ ও ৫৬্র ৃতীয় কোনের মান কত।
    
    
    ৪।একজন  লোকের দৈনিক ইনকাম ২৫০ টাকা এবং সপ্তাহের ব্ায় ১০২০ টাকা । মার্চ মাসে ঐ ব্যাক্তি কত টাকা জমা করতে পারবে।

# প্রিন্ট  ফাংশন print()



প্রিন্ট ফাংশন মূলত পাইথন এ কোন কিছু ডিসপ্লে তে দেখানোর জন্য ব্যাবহার হয়।

In [73]:
print('Hello World')

Hello World

In [74]:

a='Hello world'
print(a)

Hello world

In [75]:
num_1=2
num_2=3
Sum_of_num=num_1+num_2
print(Sum_of_num )

5

উপরের ৩ টি  উদাহরন একটু ভাল করে দেখলে বুঝতে পারবেন প্রথম প্রিন্ট আমরা ষ্ট্রিং ডাটা পরের প্রিন্ট এ ওই ষ্ট্রিং কে একটি ভ্যারিয়েবল এ ষ্টোর করে তারপর ওই ভেরিয়েবল কে প্রিন্ট করছি। দুইটা তেই একই আউটপুট ই দেখাচ্ছে।আর ৃতীয় অপশনে ২ টা সংখ্যার যোগফল প্রিন্ট করা হয়েছে।
এখন যদি আমি ৩ নম্বর প্রিন্ট  এর দিকে দেখি এখানে একটা সংখা দেখাচ্ছে । কার যোগফল বা বিয়োগফল তা কিন্তু দেখাচ্ছে না।
আমি চাচ্ছি এটা এভাবে দেখাক,

summation of 2 and 3 is =5

In [76]:
num_1=2
num_2=3
sum_of_num=num_1+num_2
print('summation of {} and {} is = {}'.format(num_1,num_2,sum_of_num))

summation of 2 and 3 is = 5

কিছু বুঝতে পারছেন?? প্রথমে আমরা ষ্ট্রিং লিখার জন্য কোলন ব্যাবহার করলাম। তারপর ইউসার কে বুঝানোর জন্য  লিখলাম summation of, কাকে যোগ 
করব?? num_1 এবং কে num_2 তাই num_1 এবং কে num_2  এর জায়গায় {} ব্যাবহার করছি তারপর আবার লিখলাম is = ,এরপর  অব্শ্যয়  সংখ্যা 
দুইটির যোগফল দেখাতে হবে তাই আবার {} ব্যাবহার করলাম। এর পর কোলন এর কাজ শেষ। এখন পাইথনকে বুঝাতে হবে যে ৩ টা {} ব্যাবহার করলাম 
এখানে কাকে দেখানো লাগবে। এইজন্য .format()  ব্যাবহার করা লাগবে তার পর প্যারান্থেসিস এর ভিতর সিরিয়ালি ্লিখতে হবে 
num_1,num_2,sum_of_num. কারন আমরা এদেরকেই চাচ্ছি । আরেকটা  উদাহরন দিলে ভাল বুঝা যাবে

In [77]:
# suppose fiven lenght and widht in a triangle and find and show the area of triangle
length=4
width=3
area=0.5*length*width  
print(' Area of triangle is = {} cm ,where length is ={} cm , and width is = {} cm.  '.format(area,length,width))

 Area of triangle is = 6.0 cm ,where length is =4 cm , and width is = 3 cm.

In [78]:
a=2
b=3
print('{} is greater than {} '.format(b,a))

3 is greater than 2

In [79]:
u=0 # initail velocity 0 m/s
v=5 # last velocity  5 m/s
t= 2 # time 2 sec
a=(v-u)/t
print('Here ,\n initial velocity = {} m/s \n final velocity ={} m/s \n time ={} sec \n so acceleration of this system is ={} m/s '.format(u,v,t,a))
#\n means new line

Here ,
 initial velocity = 0 m/s
 final velocity =5 m/s
 time =2 sec
 so acceleration of this system is =2.5 m/s

আশা করি বুঝছেন।এবার আপনার কাজ। 
# কাজ

১। a ,b নামক দুইটি ভ্যারিয়েবল  নিবেন। ভ্যারিয়েবল দুইটির মধ্যে ২ টি সংখায় সংখ্যা এসাইন করবেন, দুইটি সংখ্যার যোগফল বিয়োগফল,গুনফল এবং ভাগফল প্রিন্ট করবেন.format ()ব্যাবহার করে

২। একটি  গাড়ির আদিবেগ,ত্বরন ও সময় যথাক্রমে   ১২,৪,১০। গাড়িটির শেষ বেগ উপরের উদাহরনের মত প্রিন্ট করতে হবে।সূত্র a=(v-u)/t

৩আলাদা আলাদা ভ্যারিয়েবল দিয়ে নিজের পরিচয় একটা প্রিণ্ট  ফাংশন দিয়ে প্রিন্ট করতে হবে।

# ডেটার কনভার্সনঃ

ইন্টিজার, ফ্লোট , ষ্ট্রিং এই তিন প্রকার ডেটা গুলা পারস্পরিক রুপান্তর করা যায়। অর্থাৎ একটা ডেটা থেকে লাফ দিয়ে  আরেকটা ডেটায় যাওয়ার সু-ব্যাবস্থা আছে। তবে চাইলে যে সব ডেটাকে সবসম্য রুপান্তর করা যাবে তা কিন্তু না। তবে ইন্টিজার ডেটাকে আমরা সবসময় অন্য ২ টা ডেটায় রুপান্তর করা যাবে

In [80]:
a=5
print(type(a))

<class 'int'>

In [81]:
a=float(a)

In [82]:
print(type(a))

<class 'float'>

In [83]:
a=str(a)

In [84]:
print(type(a))

<class 'str'>

ইন্টিজার হল বিশ্ববিদ্যালয়ের একেবারে জুনিয়র ষ্টুডেন্ট এর মত । বাকিরা এর উপর চাইলে যা মন চাই তা করতে পারবে। এখানে যা মন চাই বলতে ডেটার রুপান্তর কে বুঝানো হয়েছে।

 আমরা উপরে ইন্টিজার আর ফ্লোট নিয়ে বলার সময় সেট আর উপসেট এর কথা বলছিলাম । ইন্টিজার হল ফ্লোট এর একটা উপসেট।  এখন এটা এখানে লাগবে। আমি চাইলে ইন্টিজার কে ফ্লোট এ রুপান্তর করতে পারব কিন্তু এতে সমস্যা হল আমাদের ডেটার কিছু অংশ মিস হয়ে যাবে। অর্থাৎ ফ্লোট কে ইন্টিজার এ রুপান্তর করার সময় সম্পূর ডেটা আর পাওয়া যাবে না। কারণ একট সংখ্যা যদি ১.৭ হয় তাহলে তার ইন্টিজার ফরমেট হল ১ তাহলে বাকি .৭ অংশ মিস । এইজন্য এটা হল বিশ্ববিদ্যালয়ের ২য় বর্ষের ষ্টুডেন্ট এর মত একে চাইলে সব ফরমেট এ পুরোপুরি রুপান্তর করা যাবে  যাবে  না ।কিন্তু যদি বিশ্ববিদ্যালয়ের ২য় বর্ষের ছাত্র যদি ১ম বর্ষের মত সহজ সরল ভাবে চলে তাহলে ভিন্ন কথা । যেমন ৪.০ এটা একটা ফ্লোট , তবে এর ইন্টিজার ফরমেট ৪ । এখানে কোন ডেটার মিস হয় নাই। আর যদি আমরা ফ্লোটকে ষ্ট্রিং এ রুপান্তর করতে চাই তাহলে সেটা অবশ্যয়  করা যাবে কারণ  তার উপর ও যে আরো সিনিয়র আছে। কোড করলে আরো ক্লিয়ারলি বুঝা যাবে

In [85]:
b=2.7
print(type(b))

<class 'float'>

In [86]:
c=int(b)

In [87]:
print(c)

2

In [88]:
print(type(c))

<class 'int'>

In [89]:
b=str(b)

In [90]:
print(b)

2.7

In [91]:
type(b)

str

এবার আসি ষ্ট্রিং নিয়ে। সাধারনত ষ্ট্রিং কে অন্য ডেটায় রুপান্তর করা যা্য় না । কারণ এটা  বিশ্ববিদ্যালয়ের সিনিয়র ব্যাচ। তবে সিনিয়র এর কেউ যদি জুনিয়র এর মত সহজ-সরল হয় তাহলে ভিন্ন কথা। তখন রুপান্তর করা যাবে।

In [92]:
name='my name is jabed'

In [93]:
print(name)

my name is jabed

In [94]:
print(type(name))

<class 'str'>

In [95]:
name1=int(name)

ValueError: invalid literal for int() with base 10: 'my name is jabed'

In [ ]:
name2=float(name)

কি ?? এরর দেখাচ্ছে তো। বললাম না সিনিয়র ব্যাচ। এরর লিখাটার মধ্যে ভাল করে দেখেন , যদি ষ্ট্রিং টা  কোন সংখ্যা  হয় তাহলে সেটা রুপান্তর করা যাবে

In [96]:
new_string='2'
print(new_string)

2

In [97]:
print(type(new_string))

<class 'str'>

In [98]:
new_string1=int(new_string)
print(type(new_string1))

<class 'int'>

In [99]:
string='2.45'

In [100]:
print(string)

2.45

যদি ষ্ট্রিং কোন ফ্লোট ডেটা হয় তাহলে তাকে সরাসরি ইন্টিজার এ রুপান্তর করা যাবে না। আগে ফ্লোট এ রুপান্তর করতে হবে তারপর ফ্লোট ডেটা কে ইন্টিজার রুপান্তর করতে হবে।

In [101]:
string1=int(string)

ValueError: invalid literal for int() with base 10: '2.45'

In [102]:
string_1=float(string)
print(string_1)

2.45

In [103]:
print(type(string_1))

<class 'float'>

In [104]:
string_2=int(string_1)

In [105]:
print(string_2)

2

In [106]:
print(type(string_2))

<class 'int'>

এবার আপনার কাজ । নিজে নিজে করে দেখেন । তাহলে আর ও ভাল বুঝবেন।

## Getting Input

আমরা চাই এখন প্রোগ্রামে আগে থেকে ভ্যালু না দিয়ে ইউসার থেকে ভ্যালু নিব।ইউসার থেকে input() ফাংশন দিয়ে ইনপুট নেয়া যাবে, তবে ইউসার যে ইনপুট দিবে পাইথন সেটা কে সবসময় ষ্ট্রিং ডাটা হিসেবে নিবে।আবার পাইথন কখনো একই সাথে ই্নটিজার ও ষ্ট্রিং কে যোগ বিয়োগ করতে পারে না। ২  টাই একই ধরনের ডাটা হতে হবে । যদি ভিন্ন ধরনের ডাটা হয় তাহলে একই ডাটাই কভার্ট করতে হবে ।

In [109]:
name =input('please enter your name\n')
print('type of name is :',type(name))

please enter your name
jabed omor bappi
type of name is : <class 'str'>

In [1]:
a=input('enter a number :')
print('type of a is :',type(a))

enter a number :4
type of a is : <class 'str'>

প্রথম যে ইনপুট সেটা কে ষ্ট্রিং মানা যায় কিন্তু 4 তো একটা ইন্টিজার  তারপরেও ষ্ট্রিং দেখাচ্ছে কেন??কারণ ইনপুট ফাংশন যে কোন ডাটা কে ষ্ট্রিং হিসেেবে নেয়।

আরেকটা উদাহরনে এ আসি, ইউসার থেকে ২ টা নাম্বার নিব এবং সেই ২ টা নাম্বার কে যোগ করব এবং যোগফল প্রিন্ট ফাংশন দিয়ে দেখাতে হবে। ধরে নেন  প্রথম নাম্বার হল ২ এবং দ্বিতীয় নাম্বার হল ৩ এবার নিজে নিজে যোগ করে দেখেন তার পর প্রোগ্রাম রান করেন এবং ২ এবং ৩ ইনপুট হিসেবে দেন। কি দেখাচ্ছে?? নিশ্চয় পাইথনে কোন ভূল হচ্ছে । এত সহজ কিছুতেই ভুল?? একটু ভাবুন কেন  এরকম হচ্ছে??

In [2]:
num_1=input('enter a number :')
num_2=input('enter another number: ')
sum_of_num=num_1+num_2
print(sum_of_num)

enter a number :2
enter another number: 3
23

আরেকটা উদাহরনে আসি, ধরেন ইউসার থেকে ৩ টা নাম্বারের জায়গায় অ্যালফাবেট নি a,b,c এবং সেগুলা যোগ করে প্রিন্ট ফাংশনে দেখাতে হবে

In [4]:
a=input('enter a alphabet:')
b=input('enter another alphabet:')
c=input('enter another alphabet:')
Sum=a+b+c
print(Sum)

enter a alphabet:a
enter another alphabet:b
enter another alphabet:c
abc

কি?? কিছু ধরতে পারছেন?আগের উদাহরনে কেন ২ আর ৩ এর যোগফল  ২৩ দেখাচ্ছিল সেটা আশা করি বুঝছেন। না বুঝলে এর পরের উদাহরনে  আরো ভাল যাবে।

In [5]:
num_1=input('enter a number:')
num_1=int(num_1)
num_2=input('another number:')
num_2=int(num_2)
sum_of_num=num_1+num_2
print(sum_of_num)

enter a number:2
another number:3
5

এবার কিন্তু একই জিনিস , কিন্তু যোগফল দেখাচ্ছে ৫। অর্থাৎ সঠিক উত্তরটাই দেখাচ্ছে। এর আগে ২৩ দেখানোর কারন ২ এবং ৩ কে ষ্ট্রিং ডাটা হিসেবে যোগ করছিল। কিন্তু এবার আমরা num_1=int(num_1),num_2=int(num_2) এই দুইটাতে ষ্ট্রিং ডাটা কে ইন্টিজার ডাটায় পরিনত করা হয়ছে। এ ধরনের রুপান্তর কে বলা হয় Data convertion,এক ধরনের ডাটা কে ভিন্ন ধরনের ডাটায় রূপান্তর করা।

আমরা চাইলে ২ টা অতিরিক্ত লাইন  না লিখে এক লাইনেই ডাটা রুপান্তর করতে পারতাম,

In [7]:
num_1=int(input('enter a number:'))
num_2=int(input('enter another number :'))
sum_of_num=num_1+num_2
print(sum_of_num)

enter a number:2
enter another number :3
5

আশা করি বুঝছেন। এখন ধরেন ইউসার কোন কারনে দশমিক বা ফ্লোট ডাটা ইনপুট দিল তাহলে কি হবে??

In [8]:
num_1=int(input('enter a number'))
num_2=int(input('enter another number :'))
sum_of_num=num_1+num_2
print(sum_of_num)

enter a number2.4

ValueError: invalid literal for int() with base 10: '2.4'

পাইথন ValueError দেখাচ্ছে। অর্থাৎ আমি তাকে ষ্ট্রিং থেকে  ইন্টিজার নাম্বার এ কনভার্ট করতে  বলতেছি কিন্তু ইনপুট দিচ্ছি ফ্লোট নাম্বার।পাইথন আসলে কি করবে নিজেই বুঝতেছে না। তাহলে এখন   কি করা যায়??

In [9]:
num_1=float(input('enter a number :'))
num_2=float(input('enter another number: '))
sum_of_num=num_1+num_2
print(sum_of_num)

enter a number :2.4
enter another number: 3.5
5.9

এখন ঠিক আছে??? এবার নিজে নিজে কয়েক বার মান পরিবর্তন করে প্রোগ্রাম রান করান

In [11]:
name=input('enter your name')
age=input('enter your age: ')
print("my name is " +name+ ' and i am ' + age + ' years old.')

enter your namejabed omor bappi
enter your age: 22
my name is jabed omor bappi and i am 22 years old.

উপরের উদাহরনে age ভ্যারিয়েবল এর মান কিন্তু ষ্ট্রিং হিসেবে প্রিন্ট করবে ।

In [13]:
type(age)

str

যদি পুরো প্রোগ্রাম টা ঠিক রেখে শুধু age কে ইন্টিজার এ কনভার্ট করে ফেলি তাহলে প্রোগ্রামের কোন পরিবর্তন হবে বা প্রোগ্রাম কোন  Error দেখাবে??

In [15]:
name=input('enter your name')
age=int(input('enter your age: '))
print("my name is " +name+ ' and i am ' + age + ' years old.')

enter your nameJabed omor bappi
enter your age: 22

TypeError: can only concatenate str (not "int") to str

পাইথন তো  TypeError  বলতেছে, তার মনে সে শুধু ষ্ট্রিং কে concatenate করতে পারে ।এখন কি করা যায়?? আমরা কিন্তু আর age=int(input('enter your age: ')) এটাকে পরিবরতন করতে চাই না। আচ্ছা ষ্ট্রিং কে যদি ইন্টিজার এ রুপান্তর করা যায় তাহলে ইন্টিজার কে আবার ষ্ট্রিং এ রুপান্তর করা যাবে??

In [16]:
name=input('enter your name')
age=int(input('enter your age: '))
print("my name is " +name+ ' and i am ' + str(age) + ' years old.')

enter your nameJabed omr bappi
enter your age: 22
my name is Jabed omr bappi and i am 22 years old.

In [17]:
type(age)

int

str(age) এই ফাংশন দিয়ে age কে আবার ইন্টিজার থেকে ষ্ট্রিং এ রুপান্তর করছি তবে age ভ্যারিয়েবল এর কোন পরিবর্তন হবে না কারন এটা শুধু প্রিন্ট ফাংশনের মধ্যেই রূপান্তর ঘটছে  age ভ্যারিয়েবল না । যে কোন ইন্টিজার কে চাইলেই ষ্ট্রিং এ রুপান্তর করা যাবে কিন্তু যে কোন ষ্ট্রিং কে ইন্টিজার এ রূপান্তর করা যাবে না। কেন যাবে না সেটা নিজেই ভাবুন আর কয়েকবার চেষ্টা করেই দেখুন

কাজঃ

# কাজঃ

১। ইউসার থেকে ৩ টা ইন্টিজার সংখা নিয়ে  তাদের গড় প্রিন্ট করতে এবং গড় এর এর টাইপ type() ফাংশন দিয়ে প্রিন্ট করতে হবে।

২ । একটা  ত্রিভূজের ভূমি ও উচ্চতা ইনপুট নিয়ে ত্রিভূজের ক্ষেত্রফল প্রিন্ট করতে হবে

৩।একটা  চতুর্ভুজের ভূমি ও উচ্চতা ইনপুট নিয়ে চতুর্ভুজের ক্ষেত্রফল প্রিন্ট করতে হবে

৪।সিলিন্ডারের উচ্চতা ও ব্যাসার্ধ্য ইনপুট নিয়ে সিলিন্ডারের উচ্চতা বের করতে হবে

৫।একটি বস্তুর উপর প্রযুক্ত বল F,বস্তুটিকে  স্থির অবস্থান থেকে বল প্রয়োগ করে t সেকেন্ডে v মি/সে বেগ প্রাপ্ত হল .বস্তুর ভর m হলে প্রযুক্ত বল এর মান কত ? ইনপুট ফাংশন দিয়ে আদিবেগ,শেষবেগ,সময়,ও ভর নিতে হবে।

এবার নিজে নিজে চেষ্টা করেন ...

### ষ্ট্রিং(String)

ষ্ট্রিং হল মূলত ডাবল বা সিঙ্গেল কোটেশন এর মধ্যে যা থাকে তার সব কিছু।  ষ্ট্রিং হল ইমমিউটেবল অর্থাৎ একে সাধারনত কোন এডিট করা বা এর মধ্যে কোন যোগ করা যাবে না।তবআমরা চাইলে ষ্ট্রিং কে স্লাইসিং করতে পারব। অর্থাৎ পুরা ষ্ট্রিং এর কোন   নির্দিষ্ট অংশকে দেখতে পারব। ষ্ট্রিং অনেক ছোট বা অনেক বড় যে কোণ ধরনের হতে পারে।উদাহরন আরো ভাল বুঝা যাবে।

In [7]:
s_1='It is a string'
print(s_1)

It is a string

In [22]:
print(type(s_1))

<class 'str'>

আমরা বলছিলাম ষ্ট্রিং কে চাইলে slicing করতে পারব । তবে তার আগে আমাদের পাইথন এর ইনডেক্স সম্পর্কে জানা লাগবে।  পাইথন আমাদের মত গণনা ১ থেকে শুরু করে না। পাইথন গণনা বা  এর ইনডেক্স অর্ডার শূন্য থেকে শুরু হয়। slicing করতে হলে যে ভ্যারিয়েবলে ষ্ট্রিং ডেটা  ষ্টোর থাকবে প্রথমে সে ভ্যারিয়েবলকে ডিক্লেয়ার করতে হবে এর পর [] এর মধ্যে ষ্ট্রিং এর ইনডেক্স দিইে হবে। অর্থাৎ আমি যে অংশ চাচ্ছি বা ষ্ট্রিং এর যে ভ্যালু চাচ্ছি ওই ভ্যালুর ইনডেক্স নাম্বার দিতে হবে । যেমন ধরেন আমি চাচ্ছি t এই ওয়ার্ড টাআমাকে প্রথমে এর ইনডেক্স কত সেটা দেখতে হবে ,অবশ্যই শূন্য থেকে কাউন্ট করতে হবে। সে হিসেবে t এর অবস্থান ১। সুতরাং আমাদের  লিখতে হবে s_1[1]

In [23]:
print(s_1[1])

t

তাহলে  s_1[0] এ  কি হবে??

In [24]:
print(s_1[0])

I

আশা করি বুঝছেন। কিন্তু এখানে তো শুধু একটা ওয়ার্ড কে দেখাচ্ছেআমি যদি একের অধিক ওয়ার্ড চাই তাহলে কি করতে হবে?? ধরেন আমি একটা ষ্ট্রিং এর মাঝ থেকে কিছু অংশ  চাচ্ছি । তাহলে আমাকে আগের মত কোন ওয়ার্ড থেকে শুরু হবে এবং কোন ওয়ার্ড পর্যন্ত আমি চাচ্ছি এই দুইটা  ইনডেক্স জানা লাগবে আমার যদি ৩ ইনডেক্স থেকে ৮ ইনডেক্স পর্যন্ত স্লাইসিং করতে হয় তাহলআমাকে লিখতে হবে variable[3:9] । প্রশ্আসতেই পারআমার তো ৮ পর্যন্ত লাগবে , তাহলআমি ৯ কেন দিলাম ??আমি শেষ যে ইনডেক্স তা দিব তার আগ পর্যন্ত দেখাবে যার ফলে আমাকে ১ বাড়ায়ে দিতে হবে

In [25]:
print(s_1[3:4])

i

উপরের প্রোগ্রামে আমরা ৩ঃ৪ ্দেয়ার পর আমাকে ৩ নাম্বার ইনডেক্স এর ভ্যালুটাই দেখাচ্ছে। কারন শেষ ইনডেক্স টার আগ পর্যন্ত স্লাইসিং করবে।আশা করি  বুঝছেন। আর ও কয়েকটা উদাহরন দেখলে  আরো ভাল বুঝা যাবে।

In [26]:
print(s_1[3:5])

is

 যদি শেষ ইনডেক্স নাম্বার টা না দি তাহলে প্রোগ্রাম প্রথম ইনডেক্স নাম্বার থেকে একদম শেষ পর্যন্ত প্রিন্ট করবে।

In [27]:
print(s_1[3:])

is a string

চাইলে উল্টাটা ও করতে পারি। যদি শেষ ইনডেক্স দিয়ে দিই তাহলে প্রথম থেকে শেষ এনডেক্স এআগ পর্যন্ত দেখাবে।

In [28]:
print(s_1[:5])

It is

এখানে যেহেতু শেষ ইনডেক্স টা ৫ সুতরা শূন্য থেকে ৪ পর্যন্ত স্লাইচ করবে।

এখন আমরা নেগেটিভ ইনডেক্স ও দিতে পারি । এক্ষেত্রে একেবারে ষ্ট্রিং এর শেষ থেকে হিসেব  হবে। তবে এখানে কোন নেগেটিভ শূণ্য নাই যে নেগেটিভ শূন্য থেকে কাউইন্ট করবে।সুতরাআমি যদি -১ দিই তাহলে একেবারে শেষ ওয়ার্ডটাই দেখাবেআগের মত এখানেও একাধিক ওয়ার্ডকে স্লাইসিং করা যাবে। শুধু মাথায় রাখতে হবে ডান দিকে স্লাইসিং হবে বামদিকে নয়।

In [30]:
print(s_1[-1])

g

In [31]:
print(s_1[-6:-1])

strin

In [32]:
print(s_1[-6:])

string

যদি কপ্রথম ও শেষ ইনডেক্স এর  জায়গায় কোন ইনডেক্স নাম্বার ই না দি তাহলে কি হবে????? 





পুরা ষ্ট্রিং টাই দেখাবে

In [33]:
print(s_1[:])

It is a string

In [34]:
Name='jabed omor bappi'
print(Name[0:5])

jabed

In [35]:
print(Name[6:10])

omor

In [36]:
print(Name[-5:])

bappi

আমরা  ষ্ট্রিং এর স্লাইসিং নিয়ে কাজ করছি । ষ্ট্রিং এর জন্য় আরো  অনেক গুলা method আছে।চাইলে আমরা  ষ্ট্রিং ডেটাকে  আপার,লোয়ার,ক্যাপিটেলাইজ , স্প্লিট করতে পারব,বিভিন্ন  method  ব্যাবহার করে

In [1]:
name=input('enter your name:')

enter your name:jabed Omor bappi

In [2]:
name.upper()

'JABED OMOR BAPPI'

In [4]:
print(name[0:5].upper())

JABED

In [8]:
print(s_1[3:5].upper())

IS

In [9]:
s_1.upper()

'IT IS A STRING'

In [10]:
s_1.lower()

'it is a string'

In [11]:
text_1='Hello , I am Jabed omor bappi, i am interested to learnig Machine learning'
print(text_1.split(' '))

['Hello', ',', 'I', 'am', 'Jabed', 'omor', 'bappi,', 'i', 'am', 'interested', 'to', 'learnig', 'Machine', 'learning']

In [12]:
new_text=len(text_1.split(' '))
print('there has {} words in this "text_1" text '.format(new_text))

there has 14 words in this "text_1" text

# ফাংশন

In [14]:
min(2,3,4,6)

2

In [15]:
type(100)

int

In [16]:
max(1,7,0,-4)

7

উপরে উল্লেখিত ফাংশন, যেখানে এ্ক একটি ফাংশন এক এক প্রকার এর অপারেশন । min()  এই ফাংশনের  মধ্যে যদি কোন নাম্বার প্যারামিটার হিসেবে দেওয়া   হয় তাহলে ফাংশনটি সবচেয়ে ছোট সংখ্যাটি দেখাবে, max() এই ফাংশনটি সবচেয়ে বড় সংখ্যাটি দেখাবে,type() ফানশনটি ডাটার প্রকার কি সেটা ডিসপ্লে তে দেখাবে । পাইথনে এই ধরনের অনেক গুলা বিল্ড ইন ফাংশন রয়েছে। কিন্তুএই চ্যাপ্টারে আমরা নিজেরাই ফাংশনে বিল্ড-আপ করা  শিখব।

ফাংশন নিজে  বিল্ড- আপ করতে হলে কয়েকটা ষ্টেপ অনুসরন করা লাগবে

প্রথমত আমাদের ফাংশন কে ডিফাইন করতে হবে def নামক কি ওয়ার্ড(key word) দিয়ে 

দ্বিতীয়ত আমাদের ফাংশনের একটা নাম দেয়া লাগবে

ৃতীয়ত আমাদের প্যারান্থেসিসের  মধ্যে এক বা একাধিক প্যারামিটার দেয়া লাগবে(প্যারামিটার অপশনাল)

চতুর্থত আমাদের কোলন দিয়ে আমাদের  ফাংশনের বডি অর্থাৎ ফাংশন টা কি কাজ করবে।

In [17]:
def function():
    print('Hello world')

In [18]:
function()

Hello world

উপরের যে ফাংশন টি দেয়া আছে , ফাংশনটির নাম function এর মধ্যে কোন প্যারামিটার দেয়া হয় নাই  এবং  ফাংশন টিকে কল করা হলে এটি Hello world প্রিন্ট করবে। অর্থাৎ এই ফাংশনের বডিই হল Hello world প্রিন্ট করা

In [19]:
def function_2():
    print('this book specially , Python for machine learning')

In [20]:
function_2()

this book specially , Python for machine learning

উপরের প্রথম ফাংশন বুঝলে  তাহলে দ্বিতীয়টি বুঝতে সমস্যা  হওয়ার কথা না

In [21]:
def add(n1,n2):
    add=n1+n2
    print(add)

In [22]:
add(2,3)

5

উপরের ফানশনটির নাম হল add  এবং এতে   প্যারামিটার হিসেবে n1,n2  আছে এবং ফাংশন টি দুইটি সংখ্যা যোগ করে যোগফল দেখাবে।
 add(2,3) এখানে n1=2 n2=3

In [24]:
def subtraction(n1,n2): # where n1>n2
    sub=n1-n2
    print(sub)

In [25]:
subtraction(3,2)

1

add(2,3) এটা বুঝলে তাহলে subtraction(3,2) টি ও বুঝার কথা।

In [27]:
def mul(n1,n2):
    print (n1*n2)

In [28]:
mul(4,5)

20

উপরের ফাংশন গুলার মধ্যে প্যারা্মিটার পরিবর্তন করে দেখতে পারেন আরো ভাল বুঝার জন্য ।

একটি ফাংশনের বডি এক বা তার অধিক লাইনের হতে পারে।

In [30]:
def intro(name,department,roll):
    print('Welcome ,',name)
    print('your department is ',department)
    print('your roll no ',roll)

In [31]:
intro('Jabed','Electrical and Electronics Engineering ','EEE-01506441')

Welcome , Jabed
your department is  Electrical and Electronics Engineering
your roll no  EEE-01506441

উপরের intro() এই ফাংশন এ ৩ টা প্যারামিটার খুজবে name,department এবং roll এবং ফাংশনের বডি হিসেবে ঐ ৩ টা ভ্যালুকে প্রিন্ট করতে বলছি ৩ লাইনে । আপনি চাইলে সেটা ১ লাইনে ও করতে পারতেন। যেহেতু ফাংশন আপনার , আপনি কি করবেন সেটা আপনার সিদ্বান্ত। মেইন পয়েন্ট টা ধরতে পারলেই হল

এবার আপনি আপনার নিজের জন্য একটা ফাংশন তৈরি করে দেখতে পারেন। যে ফাংশনে নিজের পরিচয় দেয়া যাবে ।

আমরা ফাংশনে ভ্যালু গুলাকে চাইলে প্রিন্ট না করে রিটার্ন করতে পারি return ব্যাবহার  করে।

In [32]:
def meter_to_km(meter):
    return meter/1000

In [36]:

def farenhite_to_celcius():
    temp=int(input('enter the farenhite value : '))
    new_temp=5*(temp-32)/9
    print(' the farenhite tem is',temp,'is equivalent to ',new_temp,'degree celcius')

In [37]:
farenhite_to_celcius()

enter the farenhite value : 45
 the farenhite tem is 45 is equivalent to  7.222222222222222 degree celcius

In [38]:
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile\
    return km

trip_miles = 55
trip_km=convert_distance(trip_miles)
print('the distance in km is = '+str(trip_miles))
print('the round trip in km is = ' +str(trip_miles*2))

the distance in km is = 55
the round trip in km is = 110

# কন্ডিশনাল (if-else)

ধরেন , আপনি একজন খেলা পাগল ব্যাক্তি । আপনার ইচ্ছা হল একটা খেলায় অংশ গ্রহন করা । আমি আপনাকে বললাম যে আপনি যদি আগামী কাল সকাল ৬ টার আগে মাঠে আসতে পারেন তাহলে আপনাকে খেলার সুযোগ করে দিব। এর মানে ৬ টার আগে মাঠে আসা টা হল একটা শর্ত । প্রোগ্রাম করার সময় ও এরকম অনেক শর্তের সম্মুখিন হতে হয়  ।এই ধরনের সমস্যা গুলা সমাধান করার জন্য আমরা if ব্যাবহার করব।

In [39]:
a=32
if a ==32:
    print(a+1)

33

এখানে মূলত প্রোগ্রাম প্রথম লাইনে a=32 এটা নিবে। তারপর a=32 কিনা সেটা চেক করবে। যদি  a=32 হয় তাহলে সে কন্ডিশনের বডির কাজ  করবে। এখানে আমরা প্রিন্ট করতে বলছি a=32 হলে তার মান  যাতে  এক বেড়ে 33 হয়ে যায়।

আমরা শুরুতে a=32 না নিয়ে অন্য কোন ভ্যালু নিয়ে ও চেক করতে পারি । যদি a এর ভ্যালু অন্য কিছু হয় তাহলে প্রোগ্রাম কন্ডিশনের বডির মধ্যে প্রবেশ করবে না।

আপনাকে একটা সমস্যা দেয়া হল যেখানে একটা সংখ্যা ধনাত্নক নাকি  ঋণাত্মক  সেটা খুজে বের করা । তাহলে কিভাবে সমাধান করব???

আমাদের প্রথম জানা দরকার একটা সংখ্যা কখন ধনাত্মক হয়  আর কখন ঋণাত্মক হয়। কোন সংখ্যা শূন্য থেকে বড় হলে  ধনাত্মক এবং শূন্য থেকে ছোট হলে সেটা  ঋণাত্মক।

In [40]:
number=1
if number>0:
    print('number is positive')
else:
    print('number is negative' )

number is positive

এখানে আমরা একটা ভ্যারিয়েবল number=1 নিলাম, শর্ত হল number এর ভ্যালু যদি বড় হয় শূন্য হয় তাহলে সে পজিটিভ প্রিন্ট করবে না হয় নেগেটিভ প্রিন্ট করবে।
সমস্যা হল আমরা যদি number=0 নিই তাহলে কি প্রিন্ট করবে???

In [41]:
number=0
if number>0:
    print('number is positive')
else:
    print('number is negative' )

number is negative

কি?? শূন্যকে এখানে নেগেটিভ প্রিন্ট দেখাল তো , তার মানে আমাদের প্রোগ্রামে আজো ঘাটতি আছে। এজন্য আমরা আরেকটা শর্ত লেখব যদি নাম্বারের ভ্যালু শূন্য থেকে ছোট হয় তাহলে নেগেটিভ প্রিন্ট করবে। প্রথ শর্ত ফিল আপ করলে পজিটিভ আর দ্বিতীয় শর্ত ফিলাপ হলে তাহলে নেগেটিভ।

In [45]:
number=0
if number>0:
    print('number is positive')

elif number<0:
    print('number is negative')

সব সমস্যা কি সমাধান হয়ে গেল???? যখন number=0 হবে তখন কোন কিছু প্রিন্ট করবে না। এখন আমরা কি করতে পারি?? নাম্বার শূন্য থেকে বড় হলে পজিটিভ শূন্য থেকে ছোট হলে তাহলে নেগেটিভ তাহলে আর থাকে কি>???? শুধু শূন্য । তাহলে বাকি যেটা থাকে সেটা শূ্ন্য।

In [46]:
number=0
if number>0:
    print('number is positive')

elif number<0:
    print('number is negative' )
else:
    print('number is null')

number is null

এখন আমাদের প্রোগ্রাম কমপ্লিট। আশা করি ব্যাপারটা বুঝছেন। এবার আমরা একই প্রোগ্রাম কে একতা ফাংশন আকারে করব যে ফাংশন এর নাম হবে number_indigate এবং ফাংশন এ ইনপুট হিসেবে একটা নাম্বার কে নিবে বাকি কাজ পূর্বের গুলাই মতই হবে।

In [47]:
def number_indigate(number):
    if number>0:
         print('number is positive')
    elif number<0:
         print('number is negative')
    else :
         print('number is null')

In [48]:
number_indigate(5)

number is positive

আমরা আরও একটা প্রোগ্রাম দেখব, যেখানে কম্পিউটারে  আগে থেকে একটা magic নাম্বার সেট থাকবে এর পর ইউসার থেকে একটা ইনপুট হিসেবে নাম্বার নিব। যদি magic নাম্বার এর সাথে ইউসার এর দেয়া নাম্বার মিলে যায় তাহলে ইউসার জয়ী অন্যথা ফেইল।

In [50]:
magic=12
a= int(input('please enter a  value: '))
if a==magic:
    print('YOU WIN THIS LOTTARY')
else:
    print('YOU ARE FAIL')

please enter a  value: 14
YOU ARE FAIL

এবার আমরা ১-১০০ এর ভিতর একটা রেনডম নাম্বার নিব এবং আগের মত ইউসার থেকে একটা নাম্বার নিব। যদি ইউসার এর নাম্বার এর সাথে রেনডম মিলে যায় তাহলে জয়ী অন্যথা আবার চেষ্টা করতে পারবে।

In [51]:
import numpy as np
a=np.random.randint(100)
b=int(input('enter a random number (1-100) : '))
if a==b:
    print(' Congras, you win this game')
else:
    print('sorry, you are fail\n')
    print('please try again')
    
print('\nmagic number is: ',a)

enter a random number (1-100) : 34
sorry, you are fail

please try again

magic number is:  99

উপরের প্রোগ্রামটির মধ্যে প্রথম লাইনে আমরা নাম্পাই নামক একটা লাইব্রেরি কে ইম্পোর্ট করছি । দ্বিতীয় লাইনে আমরা ওই লাইব্রেরির থেকে একটা রেনডম নামক ফাংশন এবং ঐ ফাংশনটার randint(100)১-১০০ মধ্যে  ইন্টিজার  মান রেনডমলি নিবে। এই টুক এখন না বুঝলে ও চলবে। শুধু এইটুক মাথায় রাখলে হবে উপরের দুইলাইন ১-১০০ এর মধ্যে একটা ইন্টিজা্র সংখ্যা রেনডমলি নিবে। আমরা চাইলে randint(10)  ও দিতে পারি তাহলে ১-১০ এর মধ্যে যে কোন একটা সংখ্যা রেনডমলি নিবে। 

প্রোগ্রামের একেবারে শেষ লাইন মূলত রেনডম নাম্বার টা কত সেটা দেখাবে

উপরের প্রোগ্রাম টার ভ্যালু চেইঞ্জ করে নিজে দেখতে পারেন।

এখন আমরা আরো একটা প্রোগ্রাম লিখব যেটা একটা ফাংশন । যে ফাংশন এ ইনপুট হিসেবে একটা নাম্বার নিবে আউটপুট হিসেবে ওই নাম্বার এর মডুলাস মান দেখাবে। অর্থাৎ absoulate_value প্রিন্ট করবে

In [52]:
def absoulate_value(num):
    if num >=0:
        abs_num=num
    else:
        abs_num=-num
    print( ' the absoulate value of ',num,'is = ',abs_num)

In [53]:
absoulate_value(-7)

 the absoulate value of  -7 is =  7

# কাজঃ

১। একটা ফাংশন বানাতে হবে যেটা ইনপুট হিসেবে তিনটা নাম্বার নিবে এবং রিটার্ন করবে অর্ডার অনুসারে, big,medium,small.অর্থাৎ, সবচেয়ে বড় সংখ্যা  তারপর তার ছোট সংখ্যা তারপর সবচেয়ে ছোট সংখ্যা।যেমনঃ২০,১৫,৭

২।  প্রথম ফাংশন এর মত আরো একটা ফাংশন লিখতে হবে তবে এবার আউটপুট হবে পু্রা বিপরীত।যেমনঃ৭,১৫,২০

৩।উপরের রেনডম প্রোগ্রাম টা একটা ফাংশন আকারে লিখেন ফাংশন এর নাম magic.

hints: 

def magic():

    .....
    
    .....
    
    
 আউইটপুট কিরকম হবে তা নিচে দেয়া হল

magic()

৪। একটা ফাংশন লিখতে হবে যেটার নাম হবে grade(number) ইনপুট হিসেবে একটা নাম্বার নিবে। গ্রেড হবে ৩ টা ৮০ বা  এর উপরে হলে এ+, ৭০ বা  এর উপরে হলে, এ ৭০ এর কম হলে ফেইল। গ্রেড কে রিটার্ন করতে হবে
 
 hints 
 
 def grade(number):
 
      if ...
      
      
        grade='A+'
      
      if ...
      
        grade='A'
      
       ...
     
     return grade

## loop

In [4]:
a=0
while a<10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [14]:
  def count_up():
    a=int(input('enter a number '))
    while a<10:
        print(a,end=' ')
        a=a+1
    print('\nfinish the loop')

In [16]:
count_up()

enter a number 0
0 1 2 3 4 5 6 7 8 9
finish the loop

In [21]:
  def count_down():
    a=int(input('enter a number '))
    while a>0:
        print(a,end=' ')
        a=a-1
    print('\nfinish the loop')

In [22]:
count_down()

enter a number 10
10 9 8 7 6 5 4 3 2 1
finish the loop

In [5]:
  def count_up_even():
    a=int(input('enter a  even number '))
    while a<=100:
        print(a,end=' ')
        a=a+2
    print('\nfinish the loop')

In [6]:
count_up_even()

enter a  even number 2
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
finish the loop

In [9]:
def count_up_even():
    a=int(input('enter a number below 100: '))
    if a%2==1:
        b=a-1
        while b<=100:
            print(b,end=' ')
            b=b+2
              
    else:
        while a<=100:
            print(a,end=' ')
            a=a+2
        
    print('\n finish the code ')

In [10]:
count_up_even()

enter a number below 100: 1
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 finish the code

In [12]:
count_up_even()

enter a number below 100: 2
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 finish the code

In [3]:
while True:
    pas=input('enter a pas:\n')
    if pas=='Hello':
        
        break
        print(pas)
print('DOne')

enter a pas:
a
enter a pas:
d
enter a pas:
Hello
DOne

In [ ]:
while True:
    PASS=input(' Enter your password: ')
    if PASS =='12345':
        break
        print(PASS)
    
    print('please try again\n')    
print(' you succesfully enter your password')

In [1]:
while True:
    PASS=input(' Enter your password: ')
    if PASS =='jabed12345':
        break
        print(PASS)
    
    print('you entered wrong pass, please try again\n')    
print(' you successfully enter your password')

 Enter your password: 123
you entered wrong pass, please try again

 Enter your password: jabed12345
 you succesfully enter your password

In [5]:
def password():
    while True:
        PASS=input(' Enter your password: ')
        if PASS =='jabed12345':
            break
            print(PASS)
    
        print('you entered wrong pass, please try again\n')    
    print(' you successfully enter your password')

In [6]:
password()

 Enter your password: jabed
you entered wrong pass, please try again

 Enter your password: jabed123
you entered wrong pass, please try again

 Enter your password: jabed12345
 you successfully enter your password

In [5]:

a=0
for i in range(1,100):
    print(i,end=' ')

    a=a+i
print('\n')    
print('sum of 1-100 is =',a)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

sum of 1-100 is = 4950

enter a initial number: 1
enter a end number +1 : 4
1 2 3 4

sum of 1-100 is = 4

In [12]:
Summation()

enter a initial number: 1
enter a end number +1 : 4
1 2 3 4

sum of 1-100 is = 4

In [1]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

In [3]:
print(type(thislist))

<class 'list'>

In [4]:
thislist = ("apple", "banana", "cherry")

print(thislist)

('apple', 'banana', 'cherry')

In [5]:
print(type(thislist))

<class 'tuple'>

In [6]:
thislist = {"apple", "banana", "cherry"}

print(thislist)

{'banana', 'cherry', 'apple'}

In [7]:
print(type(thislist))

<class 'set'>

In [2]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

In [3]:
thislist_1 = [1,3,5,7]

print(thislist_1)

[1, 3, 5, 7]

In [4]:
thislist_2 = ["apple", "banana", "cherry",1,3,5,7]

print(thislist_2)

['apple', 'banana', 'cherry', 1, 3, 5, 7]

In [6]:
print(thislist_2[0])

apple

In [7]:
print(thislist_2[2])

cherry

In [8]:
print(thislist_2[-1])

7

In [9]:
print(thislist_2[1:3])

['banana', 'cherry']

In [11]:
thislist_2[0]="orange"
print(thislist_2)

['orange', 'banana', 'cherry', 1, 3, 5, 7]

In [3]:
my_list = ["mouse", [8, 4, 6], ['a']]

print(my_list[1])

[8, 4, 6]

In [5]:
my_list = ["mouse", [8, 4, 6], ['a']]
my_list.append('one')
print(my_list)

['mouse', [8, 4, 6], ['a'], 'one']

In [10]:
my_list.extend(["two",'three'])

In [11]:
print(my_list)

['mouse', [8, 4, 6], ['a'], 'one', 'two', 'three', 'two', 'three']

In [15]:
list_1=[1,2,3]
list_2=[4,5,6]
new_list=list_1+list_2

print(new_list)

[1, 2, 3, 4, 5, 6]

In [18]:
new_list_2=list_1*2
print(new_list_2)

[1, 2, 3, 1, 2, 3]

In [22]:
list_3=['apple','banana','orange','mango']
list_3.insert(1,'cherry')
print(list_3)

['apple', 'cherry', 'banana', 'orange', 'mango']

In [35]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]

print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [36]:
del my_list[1:3]
print(my_list)

['p', 'l', 'e', 'm']

In [37]:
list.method()

AttributeError: type object 'list' has no attribute 'method'

In [39]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list.remove('b')
print(my_list)

['p', 'r', 'o', 'l', 'e', 'm']

In [41]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list.pop(1) # 1 is an index number and in this list its means 'r'
print(my_list)

['p', 'o', 'b', 'l', 'e', 'm']

In [42]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list.clear()
print(my_list)

[]

In [46]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list.index('r')

1

In [48]:
my_list=[1,2,3,1,4,1,5,3]
print(my_list.count(1))

3

In [50]:
my_list=[1,2,3,1,4,1,5,3]
my_list.sort()
print(my_list)

[1, 1, 1, 2, 3, 3, 4, 5]

In [51]:
my_list=[1,2,3,1,4,1,5,3]
my_list.reverse()
print(my_list)

[3, 5, 1, 4, 1, 3, 2, 1]

In [52]:
my_list=[1,2,3,1,4,1,5,3]
my_list.sort()
my_list.reverse()
print(my_list)

[5, 4, 3, 3, 2, 1, 1, 1]

In [55]:
a=[x for x in range(10)]
print(a)
print('type of a is =',type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
type of a is = <class 'list'>

In [3]:

a=('apple','banana','mango')
print(a)
print('length of a is =',len(a))

('apple', 'banana', 'mango')
length of a is = 3

In [4]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" 
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [6]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [7]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [13]:
thistuple = ("apple", "banana", "cherry",'banana')
'apple'in thistuple

True

True

In [17]:
thisset = {"apple", "banana", "cherry"}
print(thisset) 
print(type(thisset))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [22]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [33]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes",'apple'])

print(thisset)

{'cherry', 'mango', 'grapes', 'apple', 'banana', 'orange'}

In [25]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [26]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}

In [31]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}
set1.intersection(set2)

{'a'}

In [34]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes",'apple'])

print(thisset)

{'cherry', 'mango', 'grapes', 'apple', 'banana', 'orange'}

In [41]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}

set3 = set1.issuperset(set2)
print(set3)

False

In [7]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}
print(dict1)
print('type of dict1= ',type(dict1))

{'Name': 'Rahim', 'roll': 420, 'Class': 11}
type of dict1=  <class 'dict'>

In [8]:
rahim={
    'Name':'Rahim',
    'Roll':421,
    'Class':11
}

print(rahim)

{'Name': 'Rahim', 'Roll': 421, 'Class': 11}

In [15]:
print(dict1.get('Name'))

Rahim

In [17]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}
print(dict1)

dict1['Class']=12

print('new value of dict1 is = ',dict1)

{'Name': 'Rahim', 'roll': 420, 'Class': 11}
new value of dict1 is =  {'Name': 'Rahim', 'roll': 420, 'Class': 12}

In [25]:
print(' key value of this dict1:\n')
for x in dict1:
    print(x)
print(' \n value of this dict1:\n')    
for x in dict1:
    print(dict1[x])

 key value of this dict1:

Name
roll
Class

 value of this dict1:

Rahim
420
12

In [30]:
def dictionary(name):
    
    print(' key value of this dict1:\n')
    for x in name:
        print(x)
    print(' \n value of this dict1:\n')     
    for y in name:
        print(name[y])

In [31]:
dictionary(dict1)

 key value of this dict1:

Name
roll
Class

 value of this dict1:

Rahim
420
12

In [32]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}
print(dict1)
for x,y in dict1.items():
    print(x, y)

{'Name': 'Rahim', 'roll': 420, 'Class': 11}
Name Rahim
roll 420
Class 11

In [33]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}
print(dict1)
dict1['section']='A'
print(dict1)

{'Name': 'Rahim', 'roll': 420, 'Class': 11}
{'Name': 'Rahim', 'roll': 420, 'Class': 11, 'section': 'A'}

In [43]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}

print(dict1)

print('\n')

print('after removing  \n')
dict1.clear()
print(dict1)

{'Name': 'Rahim', 'roll': 420, 'Class': 11}


after removing

{}

In [52]:
dict1={"Name":'Rahim',
      "roll":420,
      'Class':11}

dict2=dict1.copy()

In [53]:
print(dict2)

{'Name': 'Rahim', 'roll': 420, 'Class': 11}

In [3]:
wangfai = {
  "member1" : {
    "name" : "jabed",
    "roll" : 441
  },
  "member2" : {
    "name" : "sagor",
    "roll" : 385
  },
  "member3" : {
    "name" : "raj",
    "roll" : 392
  },
  "member4" : {
    "name" : "Fahim",
    "roll" : 426
  },
  "member5" : {
    "name" : "adnan",
    "roll" : 421
  
  },
  "member6" : {
    "name" : "shafiul",
    "roll" : 438
    },
  "member7" : {
    "name" : "tanjib",
    "roll" : 414
  }

}

In [4]:
wangfai

{'member1': {'name': 'jabed', 'roll': 441},
 'member2': {'name': 'sagor', 'roll': 385},
 'member3': {'name': 'raj', 'roll': 392},
 'member4': {'name': 'Fahim', 'roll': 426},
 'member5': {'name': 'adnan', 'roll': 421},
 'member6': {'name': 'shafiul', 'roll': 438},
 'member7': {'name': 'tanjib', 'roll': 414}}

In [5]:
wangfai['member1']

{'name': 'jabed', 'roll': 441}

In [6]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [7]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {} km".format(miles,km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.200000000000003 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

In [10]:
def nametag(first_name, last_name):
	return("{} {}".format(first_name,last_name[0]))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

JaneS
FrancescoR
Jean-LucG

In [1]:
class Apple:
    color=''
    flavor=''
    height=''
    weight=''

In [2]:
class Person:
    name=''
    age=''

In [3]:
class computer:
    color=''
    width=''

In [4]:
apple_1=Apple()
apple_2=Apple()
apple_3=Apple()

In [5]:
apple_1.color='red'
apple_1.flavor='sweet'
apple_1.weight='100 g'
apple_1.height='3 cm'

In [7]:
print(apple_1.color)

red

In [8]:
print(apple_1.flavor)

sweet

In [10]:
print('attributes of apple_1 class, color ={},flavor={},weight={},height={}'.format(apple_1.color,apple_1.flavor,apple_1.weight,apple_1.height))

attributes of apple_1 class color =red,flavor=sweet,weight=100 g,height=3 cm

In [11]:
person_1=Person()

In [13]:
person_1.name='jabed omor bappi'
person_1.age=22
print('Name of person_1 is = {}  and the age of person_1 ={} years '.format(person_1.name,person_1.age))

Name of person_1 is = jabed omor bappi  and the age of person_1 =22 years

In [14]:
com1=computer()

com1.color='black'
com1.width='32 inch'

In [15]:
com2=computer()
com2.color='red'
com2.width='42 inch'

In [18]:
print('com1 color ={} and width ={}'.format(com1.color,com1.width))

com1 color =black and width =32 inch

In [19]:
print('com2 color ={} and width ={}'.format(com2.color,com2.width))

com2 color =red and width =42 inch

In [1]:
class person:
    def walk(self):
        print('walking ')

In [2]:
person_1=person()
person_1.walk()

walking

In [3]:
def hello():
    print(' hello , this is a function ')

In [4]:
hello()

 hello , this is a function

In [8]:
def person(name):
    print('hi '+ name )

In [9]:
person('jabed')

hi jabed

In [17]:
class person:
    name='jabed '
    age=22
   
    def intro(self):
        print('my name is {} and i am {} years old'.format(self.name,self.age))

In [19]:
p1=person()
p1.intro()

my name is jabed  and i am 22 years old

In [20]:
p2=person()
p2.name='x'
p2.age=21
p2.intro()

my name is x and i am 21 years old

In [21]:
 class person:
    def walk(self):
        print('walking ')
    def song(self):
        print('singing')
    def dance(self):
        print('dancing')

In [22]:
person_1=person()
person_1.walk()
person_1.dance()
person_1.song()

walking
dancing
singing

In [16]:
class person:
  
    def walk(self):
        print('walkig')

In [17]:
p1=person()
p1

In [18]:
p1.walk()

walkig

In [22]:
class person:
    def __init__(self):
        print('hello')

In [24]:
p1=person()
p2=person()

hello
hello

In [17]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return 'your name is {} and you are {} years old.'.format(self.name,self.age)

In [18]:
p1=person('jabed',22)
p2=person('rahim',25)
print(p1)

your name is jabed and you are 22 years old.

In [23]:
class Rectangle:
    
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
        
    def get_area(self):
        return self.length * self.breadth
    
r = Rectangle(160, 120)
print("Area of Rectangle: %s sq units" % (r.get_area()))

Area of Rectangle: 19200 sq units

In [19]:
class Apple:
    def __init__(a,color,flavor):
        a.color=color
        a.flavor=flavor
    def __str__(b):
        return "this apple {} and its flavor {}".format(b.color,b.flavor)

In [21]:
apple_1=Apple('red','sweet')
print(apple_1)

this apple red and its flavor sweet

In [32]:
class Car:
    def __init__(self, color, mileage):
        self.color = color
        self.mileage = mileage

    def __str__(self):
        return 'this car is {} color and its {} mileage per hour'.format(self.color,self.mileage)

In [33]:
my_car=Car('blue',3341)
print(my_car)

this car is blue color and its 3341 mileage per hour

In [20]:
class Person:
    
    def __init__(self, fname, lname,age):
        self.firstname = fname
        self.lastname = lname
        self.age=age
        

    def printname(self):
        print('your name is {} {}  and you are  {} years old .'.format(self.firstname, self.lastname,self.age)) 
#Use the Person class to create an object, and then execute the printname method:

person_1 = Person("jabed omor ", "Bappi",22)
person_1.printname()

your name is jabed omor  Bappi  and you are  22 years old .

In [21]:
class student(Person):
    pass 
class teacher(Person):
    pass
class staff(Person):
    pass

In [22]:
student_1=student('mr','x',20)
teacher_1=teacher('Mr','Ahmed',41)
staff_1=staff('Mr','y',25)

In [29]:
student_1.printname()

your name is mr x  and you are  20 years old .

In [30]:
teacher_1.printname()

your name is Mr Ahmed  and you are  41 years old .

In [32]:
staff_1.printname()

your name is Mr y  and you are  25 years old .

In [33]:
class fruit:
    def __init__(self,color,flavor,size):
        self.color=color
        self.flavor=flavor
        self.size=size

In [34]:
class Apple(fruit):
    pass
class Orange(fruit):
    pass
class Grape(fruit):
    pass

In [35]:
apple_1=Apple('green','tart','15 cm')
print(apple_1.color)

green

In [5]:
number=[4,6,7,2,34,65,24,23,3,5]
number.sort()
print(number)

[2, 3, 4, 5, 6, 7, 23, 24, 34, 65]

In [7]:
name=['abdul','karim','Mr X','Mr Y','Rahim']
print(sorted(name))

['Mr X', 'Mr Y', 'Rahim', 'abdul', 'karim']

In [8]:
sorted(name,key=len)

['Mr X', 'Mr Y', 'abdul', 'karim', 'Rahim']